// COLORS
$color-white: #ECF0F1;
$color-red: #E74C3C;
$color-red-shadow: #e32f1c;
$color-green: #57EB78;
$color-text: #3498DB;
$color-dark-blue:#2C3E50;
$color-grey: #ECF0F1;

// TYPOGRAPHY 
$font-size-default: 3rem;