@import "../sass/variables";
.form{
  grid-column: 2/3;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputs{
  grid-column: 2/3;
  display: flex;
  
  &__label{
    &:not(:last-child){
      border-right: 1px solid $color-grey;
    }
    
  }
  &__text{
    color: $color-text;
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 2rem;
    padding-left: 4rem;
  }
  &__input{
    font-family: inherit;
    border: none;
    width: 22rem;
    height: 5.6rem;
    padding: 0 5rem;
    text-transform: uppercase;


    &::placeholder{
      font-family: inherit;
      font-size: 1.6rem;
      // color: $color-dark-blue;
    }
    &:active, &:focus {
      outline-color: $color-dark-blue;
    }

    &--left{
      border-radius: 1rem 0 0 1rem;
    }
    &--right{
      border-radius: 0 1rem 1rem 0 ;
    }
    
  }
}